.cart{
.cart-img{
    img{
        border-radius: 20px;
    }
}



    .title{
        h3{
            font-size: 20px;
            margin: 0;
            padding: 0;
        }p{
            font-size: 16px;
        margin: 0;
        padding: 0; color: #0000009f;
        }
       
    }

}