.classTopSide{
    margin-top: 70px;
height: 91vh;
width: 11%;
overflow-y: scroll;
scroll-behavior: smooth;
// position: fixed;
// z-index: 999;
position: -webkit-sticky;
position: sticky;
top: 9%;
@media (max-width:1024px){
    position: fixed;
    width: 25%;
    z-index: 9999;
    background-color: #fff; 
    margin-top: 60px !important;
    padding: 0;
    top: 0;
    height: 100vh !important;
}

@media (max-width:992px){
    position: fixed;
    width: 30% !important;
    z-index: 9999;
    background-color: #fff; 
    margin-top: 60px !important;
    padding: 0;
    top: 0;
    height: 100vh !important;
}

@media (max-width:768px){
    position: fixed;
    width: 40%;
    z-index: 9999;
    background-color: #fff; 
    margin-top: 60px !important;
    padding: 0;
    top: 0;
    height: 90vh !important;
}

@media (max-width:600px){
    position: fixed ;
    width: 40% !important;
    z-index: 9999;
    background-color: #fff; 
    margin-top: 60px !important;
    padding: 0;
    height: 100vh !important;
    top: 0;
}
@media (max-width:320px){
    position: fixed ;
    width: 75% ;
    z-index: 9999;
    background-color: #ffffff; 
    margin-top: 60px !important;
    padding: 0;
    height: 100vh !important;
    top: 0;
}
.sidebar{
    text-decoration: none;
    color: #000;
cursor: pointer;
width: 100%;
    .title-of-item{
        font-size: 16px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-decoration: none !important;
        color: #000;
       

    }
    &:hover{
        background-color: #0000004f;
        border-radius: 50px;

    }
}

.borderDown{
    border-color: #000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;

}
.hidden{
    display: none;
}

}.cahnegSize{
    width: 4% !important;
    @media (max-width:768px){
        width: 0% !important;
    }
    @media (max-width:992px){
        width: 0% !important;
    }
    @media (max-width:1024px){
        width: 0% !important;
    }
}
.Link{
    text-decoration: none !important;
}